In [57]:
import pandas as pd
import psycopg2
import warnings
warnings.filterwarnings('ignore')

pgconn = psycopg2.connect(
    dbname='MovieDW',
    user='postgres', 
    password='admin123', 
    port='5432'
)

In [59]:
Fact_df = pd.read_sql_query('SELECT * FROM factfilmperformance', con=pgconn)
Film_df = pd.read_sql_query('SELECT * FROM dimfilm', con=pgconn)
Director_df = pd.read_sql_query('SELECT * FROM dimdirector', con=pgconn)
Studio_df = pd.read_sql_query('SELECT * FROM dimstudio', con=pgconn)
Genre_df = pd.read_sql_query('SELECT * FROM dimgenre', con=pgconn)
Country_df = pd.read_sql_query('SELECT * FROM dimcountry', con=pgconn)
Language_df = pd.read_sql_query('SELECT * FROM dimlanguage', con=pgconn)
Time_df = pd.read_sql_query('SELECT * FROM dimtime', con=pgconn)

In [61]:
Time_df['year'] = Time_df['year'].fillna(0)
Time_df['quarter'] = Time_df['quarter'].fillna(0)
Time_df['month'] = Time_df['month'].fillna(0)

In [63]:
import atoti as tt
session_config = tt.SessionConfig()
session = tt.Session.start(session_config)

In [65]:
film_table = session.read_pandas(
    Film_df, 
    keys=["filmid"], 
    table_name="DimFilm"
)

director_table = session.read_pandas(
    Director_df,
    keys=["directorid"],
    table_name="DimDirector"
)

genre_table = session.read_pandas(
    Genre_df,
    keys=["genreid"],
    table_name="DimGenre"
)

studio_table = session.read_pandas(
    Studio_df,
    keys=["studioid"],
    table_name="DimStudio"
)

country_table = session.read_pandas(
    Country_df,
    keys=["countryid"],
    table_name="DimCountry"
)

time_table = session.read_pandas(
    Time_df,
    keys=["timeid"],
    table_name="DimTime"
)

# Fact Table (avec cl√© composite)
fact_table = session.read_pandas(
    Fact_df,
    keys=["performanceid"],
    table_name="FactFilmPerformance"
)

In [67]:
fact_table.join(film_table, fact_table["filmid"] == film_table["filmid"])
fact_table.join(director_table, fact_table["directorid"] == director_table["directorid"])
fact_table.join(genre_table, fact_table["genreid"] == genre_table["genreid"])
fact_table.join(studio_table, fact_table["studioid"] == studio_table["studioid"])
fact_table.join(country_table, fact_table["countryid"] == country_table["countryid"])
fact_table.join(time_table, fact_table["timeid"] == time_table["timeid"])

In [69]:
cube = session.create_cube(fact_table)
h = cube.hierarchies
l = cube.levels
m = cube.measures

In [71]:
# Hi√©rarchie temporelle avec les bons noms
h["Hi√©rarchie Temporelle"] = [
    l["weekofyear"],
    l["monthname"],
    l["fulldate"]
]

# Hi√©rarchie g√©ographique
h["Hi√©rarchie G√©ographique"] = [
    l["countryname"]
]

# Hi√©rarchie genre
h["Hi√©rarchie Genre"] = [
    l["genrename"]
]

In [73]:
if 'year' in Time_df.columns and Time_df['year'].notna().any(): year_to_filter = int(Time_df['year'].mode()[0]) # Ann√©e la plus fr√©quente slice_result = cube.query( m["boxofficedollars.SUM"], m["budgetdollars.SUM"], m["profitdollars.SUM"], filter=l["fulldate"].year == year_to_filter # utiliser fulldate.year ) print(f"\nüé¨ Films de l'ann√©e {year_to_filter}:") print(slice_result) else: print("‚ö†Ô∏è Donn√©es temporelles non disponibles"

In [ ]:
dice_result = cube.query(
    m["boxofficedollars.SUM"],
    m["budgetdollars.SUM"],
    levels=[
        l[("DimGenre", "genrename", "genrename")],
        l[("DimTime", "fulldate", "fulldate")]
    ]
)

============================================================
üìä OP√âRATION 2: DICE
============================================================
Analyser par Genre ET Date (croisement de 2 dimensions)

ValueError: Disambiguate `genrename` to narrow it down to one of [('DimGenre', 'genrename', 'genrename'), ('DimGenre', 'Hi√©rarchie Genre', 'genrename')].

In [45]:
print("\n" + "="*60)
print("üìä OP√âRATION 3: DRILL-DOWN")
print("="*60)

# Niveau 1: Date
drill_date = cube.query(
    m["boxofficedollars.SUM"],
    levels=[l["fulldate"]],
    include_totals=True
)
print("\nüìÖ Niveau 1 - Par Date:")
print(drill_date)

# Niveau 2: Date + Semaine
drill_week = cube.query(
    m["boxofficedollars.SUM"],
    levels=[l["fulldate"], l["weekofyear"]],
    include_totals=True
)
print("\nüìÖ Niveau 2 - Par Date et Semaine:")
print(drill_week.head(12))

# Niveau 3: Date + Mois
drill_month = cube.query(
    m["boxofficedollars.SUM"],
    levels=[l["fulldate"], l["monthname"]],
    include_totals=True
)
print("\nüìÖ Niveau 3 - Par Date et Mois:")
print(drill_month.head(12))

============================================================
üìä OP√âRATION 3: DRILL-DOWN
============================================================

üìÖ Niveau 1 - Par Date:
           boxofficedollars.SUM
fulldate
Total        231,474,920,799.00
1921-01-21         2,500,000.00
1931-11-21        12,000,000.00
1939-12-15       198,000,000.00
1953-02-05        87,400,000.00
...                         ...
2012-06-27     2,681,760,000.00
2013-12-13     3,905,500,000.00
2014-06-27     2,321,021,500.00
2014-11-07     1,696,100,000.00
2014-12-01     1,260,800,000.00

[120 rows x 1 columns]

üìÖ Niveau 2 - Par Date et Semaine:
                       boxofficedollars.SUM
fulldate   weekofyear
NaT        <NA>              231474920799.0
1921-01-21 <NA>                   2500000.0
           N/A                    2500000.0
1931-11-21 <NA>                  12000000.0
           N/A                   12000000.0
1939-12-15 <NA>                 198000000.0
           N/A                  198000000.0
1953-02-05 <NA>                  87400000.0
           N/A                   87400000.0
1954-04-26 <NA>                   4500000.0
           N/A                    4500000.0
1956-08-21 <NA>                  12500000.0

üìÖ Niveau 3 - Par Date et Mois:
                      boxofficedollars.SUM
fulldate   monthname
NaT        <NA>             231474920799.0
1921-01-21 <NA>                  2500000.0
           January               2500000.0
1931-11-21 <NA>                 12000000.0
           November             12000000.0
1939-12-15 <NA>                198000000.0
           December            198000000.0
1953-02-05 <NA>                 87400000.0
           February             87400000.0
1954-04-26 <NA>                  4500000.0
           April                 4500000.0
1956-08-21 <NA>                 12500000.0

In [47]:
print("\n" + "="*60)
print("üìä OP√âRATION 4: ROLL-UP")
print("="*60)

# Mois
rollup_month = cube.query(
    m["boxofficedollars.SUM"],
    levels=[l["monthname"]],
    include_totals=True
)
print("\nüìÖ D√©tail par Mois:")
print(rollup_month.head(12))

# Semaine
rollup_week = cube.query(
    m["boxofficedollars.SUM"],
    levels=[l["weekofyear"]],
    include_totals=True
)
print("\nüìÖ Agr√©gation par Semaine:")
print(rollup_week)

# Date (agr√©g√©)
rollup_date = cube.query(
    m["boxofficedollars.SUM"],
    levels=[l["fulldate"]],
    include_totals=True
)
print("\nüìÖ Agr√©gation par Date:")
print(rollup_date)

============================================================
üìä OP√âRATION 4: ROLL-UP
============================================================

üìÖ D√©tail par Mois:
           boxofficedollars.SUM
monthname
<NA>             231474920799.0
April              2672498332.0
August            17463813158.0
December          32180879463.0
February           8168407458.0
January            2603304302.0
July              45178283916.0
June              41078838445.0
March               793700000.0
May               35424980517.0
November          32061310429.0
October            1204458280.0

üìÖ Agr√©gation par Semaine:
           boxofficedollars.SUM
weekofyear
Total        231,474,920,799.00
N/A          231,474,920,799.00

üìÖ Agr√©gation par Date:
           boxofficedollars.SUM
fulldate
Total        231,474,920,799.00
1921-01-21         2,500,000.00
1931-11-21        12,000,000.00
1939-12-15       198,000,000.00
1953-02-05        87,400,000.00
...                         ...
2012-06-27     2,681,760,000.00
2013-12-13     3,905,500,000.00
2014-06-27     2,321,021,500.00
2014-11-07     1,696,100,000.00
2014-12-01     1,260,800,000.00

[120 rows x 1 columns]

In [49]:
print("\n" + "="*60)
print("üìä OP√âRATION 5: PIVOT")
print("="*60)

pivot_result = cube.query(
    m["boxofficedollars.SUM"],
    levels=[l["genrename"], l["countryname"]]
)

print("\nüîÑ Pivot - Genre √ó Pays:")
print(pivot_result.head(20))

============================================================
üìä OP√âRATION 5: PIVOT
============================================================

üîÑ Pivot - Genre √ó Pays:
                       boxofficedollars.SUM
genrename countryname
Genre_1   Country_241          1339931805.0
          Country_264            59921500.0
Genre_10  Country_240           191319885.0
          Country_241          2630249473.0
Genre_11  Country_240           178120010.0
          Country_241         33229854686.0
          Country_261           384300000.0
Genre_12  Country_167          5852006956.0
          Country_240         10091630771.0
          Country_241          1976246038.0
          Country_258            72759078.0
          Country_269             6900000.0
          Country_48            553800000.0
Genre_13  Country_240             8000000.0
          Country_241          1208927878.0
Genre_14  Country_118            16211000.0
          Country_240            90300000.0
          Country_241          2892892030.0
          Country_257            56300000.0
          Country_263            30600000.0

In [53]:
print("\n" + "="*60)
print("üìä OP√âRATION 6: MESURES PERSONNALIS√âES")
print("="*60)

m["ROI Moyen"] = tt.agg.mean(fact_table["roi"])
m["Budget Maximal"] = tt.agg.max(fact_table["budgetdollars"])
m["Budget Minimal"] = tt.agg.min(fact_table["budgetdollars"])
m["Nombre de Films"] = tt.agg.count_distinct(fact_table["filmid"])  # corrected

custom_measures = cube.query(
    m["Nombre de Films"],
    m["boxofficedollars.SUM"],
    m["ROI Moyen"],
    m["Budget Maximal"],
    m["Budget Minimal"],
    levels=[l["genrename"]],
    include_totals=True
)

print("\nüìä Mesures Personnalis√©es par Genre:")
print(custom_measures)

============================================================
üìä OP√âRATION 6: MESURES PERSONNALIS√âES
============================================================

üìä Mesures Personnalis√©es par Genre:
          Nombre de Films boxofficedollars.SUM ROI Moyen  Budget Maximal  \
genrename
Total               1,000   231,474,920,799.00      9.23  378,500,000.00
Genre_1                28     1,399,853,305.00     17.03   38,000,000.00
Genre_10               21     2,821,569,358.00     25.90  150,000,000.00
Genre_11               63    33,792,274,696.00     10.11  260,000,000.00
Genre_12               35    18,553,342,843.00      4.44  250,000,000.00
Genre_13               11     1,216,927,878.00      3.15   99,500,000.00
Genre_14               51     3,275,803,030.00      9.27  110,000,000.00
Genre_17               67     4,246,219,024.00      9.49  140,000,000.00
Genre_18                9     3,395,979,702.00      3.90  150,000,000.00
Genre_19               17     2,751,723,720.00      2.84  110,000,000.00
Genre_2                82     8,404,305,214.00     16.29   97,000,000.00
Genre_20               21     2,072,557,446.00     16.64   52,000,000.00
Genre_22                7     1,012,600,000.00      6.17   60,000,000.00
Genre_24                2        29,529,368.00    453.30    1,000,000.00
Genre_25                8     1,875,851,805.00      9.52  200,000,000.00
Genre_26                5     1,064,000,000.00      5.96  140,000,000.00
Genre_27                9     1,363,289,678.00     23.71   43,000,000.00
Genre_28                4     2,950,100,000.00      8.46  120,000,000.00
Genre_3                92    34,867,879,406.00      5.51  350,000,000.00
Genre_4               140    40,146,370,016.00      3.46  258,000,000.00
Genre_5                35     2,862,927,872.00      3.60  140,000,000.00
Genre_6                16     5,024,757,436.00     23.10  200,000,000.00
Genre_7               113    16,996,518,512.00     11.07  175,000,000.00
Genre_8                73    21,946,542,651.00      4.18  378,500,000.00
Genre_9                91    19,403,997,839.00      6.39  245,000,000.00

          Budget Minimal
genrename
Total          30,000.00
Genre_1       225,000.00
Genre_10      114,000.00
Genre_11    2,000,000.00
Genre_12    2,800,000.00
Genre_13    3,500,000.00
Genre_14       30,000.00
Genre_17      100,000.00
Genre_18   40,000,000.00
Genre_19    4,650,000.00
Genre_2       250,000.00
Genre_20      200,000.00
Genre_22    5,500,000.00
Genre_24       65,000.00
Genre_25    3,000,000.00
Genre_26    8,000,000.00
Genre_27      250,000.00
Genre_28   50,000,000.00
Genre_3       500,000.00
Genre_4       175,000.00
Genre_5       900,000.00
Genre_6       850,000.00
Genre_7       230,000.00
Genre_8       672,000.00
Genre_9       100,000.00

In [55]:
print(session.link)

http://localhost:60992

In [ ]:
# Afficher tous les niveaux disponibles
print("\nüîç Niveaux disponibles dans le cube:")
for key in l.keys():
    print(f"   - {key}")

print("\nüîç Hi√©rarchies disponibles:")
for key in h.keys():
    print(f"   - {key}")

In [41]:
print(list(l.keys()))

[('DimDirector', 'directorname', 'directorname'), ('FactFilmPerformance', 'performanceid', 'performanceid'), ('DimStudio', 'studioname', 'studioname'), ('DimTime', 'dayofweek', 'dayofweek'), ('DimTime', 'weekofyear', 'weekofyear'), ('DimTime', 'monthname', 'monthname'), ('DimTime', 'fulldate', 'fulldate'), ('DimFilm', 'certificate', 'certificate'), ('DimFilm', 'review', 'review'), ('DimFilm', 'title', 'title'), ('DimCountry', 'countryname', 'countryname'), ('DimGenre', 'genrename', 'genrename')]